---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/header/Header.astro";
import PageHeader from "../../components/header/PageHeader.astro";
import { seoPlaces } from "../../data/seo_places";
---

<Layout
  title="Débouchage canalisation en proximité et/ou en urgence, S-Plomberie"
  description="S-Plomberie est spécialisée dans le dépannage d'urgence en Belgique. Qu'il s'agisse d'un entretien ou d'une réparation, nous mettons à votre disposition nos services de plomberie sanitaire et de débouchage de canalisation"
>
  <Header />
  <PageHeader title1="Débouchage canalisation En proximité et en urgence" />

  <div class="max-w-7xl mx-auto px-4">
    <div class="flex flex-wrap p-3">
      <div class="w-full xl:w-1/2 service my-12">
        <ul>
          {
            Object.entries(seoPlaces).map(([slug, name]) => (
              <li>
                <a href={`/entreprise-de-debouchage/debouchage/${slug}`}>
                  Débouchage {name}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</Layout>
