---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header/Header.astro';
import Cta from '../components/cta/Cta.astro';
import PageHeader from '../components/header/PageHeader.astro';
import PourquoiNousChoisir from '../components/pourquoi-nous-choisir/PourquoiNousChoisir.astro';
import ServiceDetails from '../components/service-details/ServiceDetails.astro';
---

<Layout
  title="S-Plomberie: Mentions légales 0474/56.56.56"
  description="Chez S-Plomberie, nous bénéficions d'une expérience de plus de 20 ans en installation, réparation d'équipement sanitaire et débouchage de canalisation. "
>
  <!-- Header component with 'current03' set to 'current' to highlight menu -->
  <Header />

  <!-- Page header with main title -->
  <PageHeader title1="Mentions légales" title2="" />

<section class="">
  <div class="max-w-7xl mx-auto px-4">
    <div class="mt-12 mb-12 space-y-4 text-gray-800">
      <h2 class="pt-4 text-2xl font-semibold">S-Plomberie</h2>
      <p>Forme légale : Société à responsabilité limité</p>
      <p>Dénomination : 1000T SERVICES BV</p>
      <p>Adresse: Place Lt. Graff 15, 1780 Wemmel</p>
      <p>Téléphone : 0474/56.56.56</p>
      <p>N° TVA : BE 0753.794.621 </p>
      <p>Email : contact@s-plomberie.be</p>

      <h2 class="pt-4 text-2xl font-semibold">Propriété intellectuelle</h2>
      <p>
        L'ensemble de ce site relève des législations Belge et Internationales...
      </p>

      <h2 class="pt-4 text-2xl font-semibold">Crédit photos</h2>
      <p>Shutterstock - Tous droits réservés.</p>

      <h2 class="pt-4 text-2xl font-semibold">Liens hypertextes</h2>
      <p>
        Les liens hypertextes mis en place dans le cadre du présent site...
      </p>

      <h2 class="pt-4 text-2xl font-semibold">Droit de réponse</h2>
      <p>Toute personne citée sur le site peut faire valoir un droit de réponse...</p>

      <h2 class="pt-4 text-2xl font-semibold">Politique de confidentialité</h2>
      <p>
        En aucun cas, les données recueillies sur le site s-plomberie.be...
      </p>
    </div>
  </div>
</section>


		

</Layout>
