---
import Layout from '../layouts/Layout.astro';

// Page Header
const header = {
  title1: "Mentions légales",
  title2: "",
};
// Page Header
---

<Layout
  title="S-Plomberie: Mentions légales 0474/56.56.56"
  description="Chez S-Plomberie, nous bénéficions d'une expérience de plus de 20 ans en installation, réparation d'équipement sanitaire et débouchage de canalisation. "
>
  
    <!-- Page header with main title -->
  <section class="page-header">
    <div class="page-header__bg" style="background-color: #4683c4;"></div>
    <div class="max-w-7xl mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="w-full">
          <div class="page-header__wrapper">
            <div class="page-header__content">
              <h1 class="text-center">
                {header.title1}<br />{header.title2}
              </h1>
              <div class="text-center">
                <a
                  href="tel:0474565656"
                  class="thm-btn"
                  data-text="Plombier en urgence : 0474 56 56 56"
                >
                  Plombier en urgence: 0474/56.56.56
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Page header with main title -->

<section class="">
  <div class="max-w-7xl mx-auto px-4">
    <div class="mt-12 mb-12 space-y-4 text-gray-800">
      <h2 class="pt-4 text-2xl font-semibold">S-Plomberie</h2>
      <p>Forme légale : Société à responsabilité limité</p>
      <p>Dénomination : 1000T SERVICES BV</p>
      <p>Adresse: Place Lt. Graff 15, 1780 Wemmel</p>
      <p>Téléphone : 0474/56.56.56</p>
      <p>N° TVA : BE 0753.794.621 </p>
      <p>Email : contact@s-plomberie.be</p>

      <h2 class="pt-4 text-2xl font-semibold">Propriété intellectuelle</h2>
      <p>
        L'ensemble de ce site relève des législations Belge et Internationales...
      </p>

      <h2 class="pt-4 text-2xl font-semibold">Crédit photos</h2>
      <p>Shutterstock - Tous droits réservés.</p>

      <h2 class="pt-4 text-2xl font-semibold">Liens hypertextes</h2>
      <p>
        Les liens hypertextes mis en place dans le cadre du présent site...
      </p>

      <h2 class="pt-4 text-2xl font-semibold">Droit de réponse</h2>
      <p>Toute personne citée sur le site peut faire valoir un droit de réponse...</p>

      <h2 class="pt-4 text-2xl font-semibold">Politique de confidentialité</h2>
      <p>
        En aucun cas, les données recueillies sur le site s-plomberie.be...
      </p>
    </div>
  </div>
</section>


		

</Layout>
