---
const { title1, title2 } = Astro.props;
---

<section class="page-header">
  <div class="page-header__bg" style="background-color: #4683c4;"></div>
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="w-full">
        <div class="page-header__wrapper">
          <div class="page-header__content">
            <h1 class="text-center">
              {title1}<br />{title2}
            </h1>
            <div class="text-center">
              <a
                href="tel:0474565656"
                class="thm-btn"
                data-text="Plombier en urgence : 0474 56 56 56"
                >Plombier en urgence: 0474/56.56.56</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
