<!-- page-wrapper -->
<a href="#" data-target="html" class="scroll-to-target scroll-to-top"
  ><i class="fa fa-angle-up"></i></a
>

<!-- page-wrapper -->

<div
  class="fixed bottom-0 right-0 z-[200] p-2 w-full max-w-xs sm:max-w-[310px]"
>
  <div
    id="accordionBox"
    class="border bg-white border-gray-200 rounded-t-md shadow-md p-3 transition-all duration-300"
  >
    <h2>
      <button
        id="toggleAccordion"
        class="w-full flex items-center justify-between px-4 py-3 text-left font-medium bg-gray-100 hover:bg-gray-200 transition-all duration-300"
      >
        <span
          id="textIconWrapper"
          class="flex items-center text-gray-800 transition-colors duration-300"
        >
          <i class="fas fa-phone mr-1"></i>Appelez-nous
        </span>
        <svg
          id="arrowIcon"
          class="w-5 h-5 text-gray-800 transform transition-transform duration-300"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"></path>
        </svg>
      </button>
    </h2>
  </div>

  <div
    id="collapseOne"
    class="overflow-hidden max-h-0 opacity-0 transition-all duration-500 ease-in-out !bg-white text-center"
  >
    <div class="px-4 py-3">
      <p>Plombier ou déboucheur<br />en urgence</p>
      <a
        href="tel:0474 56 56 56"
        class="about-page__right-text-1 text-lg inline-block mt-2"
      >
        <i class="fas fa-phone"></i> 0474 56 56 56
      </a>
      <p class="text-red-600 font-bold mt-2">24 h/24 et 7 j/7</p>
    </div>
  </div>
</div>
