---
const { name, rating } = Astro.props;
---

<swiper-slide>
  <div class="testimonials-three__single">
    <div class="testimonials-three__single-inner">
      <div class="title-box">
        <h3>{name}</h3>
      </div>
      <ul class="rating-box flex gap-1">
        {
          Array.from({ length: rating }).map(() => (
            <li>
              <span class="icon-star" />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</swiper-slide>
