---
import img1 from "../../assets/images/ressources/pourquoi-nous-choisir-01.jpg";
import img2 from "../../assets/images/ressources/pourquoi-nous-choisir-02.jpg";
import img3 from "../../assets/images/ressources/pourquoi-nous-choisir-03.jpg";
import img4 from "../../assets/images/ressources/pourquoi-nous-choisir-04.jpg";
---

<section class="why-choose-one-sec" style="background-color: #f2f3f5;">
  <div class="container mx-auto px-4">
    <!-- Bootstrap 'container' replaced -->
    <div class="flex flex-wrap">
      <!-- Bootstrap 'row' replaced -->
      <div class="w-full xl:w-1/2">
        <!-- Bootstrap 'col-xl-6' replaced -->
        <div class="why-choose-one__content">
          <div class="sec-title">
            <div class="sec-title__tagline">
              <div class="h6">Pourquoi nous chosir</div>
              <span class="right"></span>
            </div>
            <h2 class="sec-title__title">
              Service de plomberie et de débouchage canalisation
            </h2>
            <p
              class="sec-title__text"
              style="line-height: 30px; text-align: justify"
            >
              Chez <strong>S-Plomberie</strong>, nous bénéficions d'une
              expérience de plus de <strong>7 ans</strong> en installation, réparation
              d'équipement sanitaire et débouchage de canalisation. Nous maîtrisons
              de ce fait parfaitement les différents problèmes qui peuvent survenir
              dans une installation sanitaire et les solutions adéquates. À votre
              demande, un plombier expérimenté de notre équipe se rendra à votre
              domicile. Il s'assurera alors, selon le cas, du dépannage de votre
              installation sanitaire ou du débouchage de votre canalisation. N'hésitez
              donc pas à solliciter nos services de plomberie sanitaire et de débouchage
              des canalisations en Belgique.
            </p>
            <div class="h4 mt-3">Une question en plomberie? Un besoin ?</div>
            <div class="h4 mt-2">
              Appelez-nous <a href="tel:0474 56 56 56">0474 56 56 56</a>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full xl:w-1/2">
        <!-- Bootstrap 'col-xl-6' replaced -->
        <div class="why-choose-one__img">
          <div class="flex flex-wrap">
            <!-- Bootstrap 'row' replaced -->
            <div class="w-full xl:w-1/2 lg:w-1/2 md:w-1/2">
              <!-- col-xl-6 col-lg-6 col-md-6 -->
              <div class="why-choose-one__img-single">
                <div class="img-box">
                  <img
                    src={img1.src}
                    alt="Service de plomberie et de débouchage canalisation en belgique"
                  />
                </div>
              </div>
            </div>
            <div class="w-full xl:w-1/2 lg:w-1/2 md:w-1/2">
              <div class="why-choose-one__img-single">
                <div class="img-box">
                  <img src={img2.src} alt="Plomberie sanitaire en belgique" />
                </div>
              </div>
            </div>
            <div class="w-full xl:w-1/2 lg:w-1/2 md:w-1/2">
              <div class="why-choose-one__img-single">
                <div class="img-box">
                  <img
                    src={img3.src}
                    alt="Entreprise de débouchage canalisation en blegique"
                  />
                </div>
              </div>
            </div>
            <div class="w-full xl:w-1/2 lg:w-1/2 md:w-1/2">
              <div class="why-choose-one__img-single">
                <div class="img-box">
                  <img
                    src={img4.src}
                    alt="Plomberie sanitaire En proximité et en urgence en belgique"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
